.forma{
    border: 2px gray groove;
    border-radius: 15px;
}
textarea{
    resize: none;
}
.forma1{
    border: 2px gray groove;
    border-radius: 15px;
    background-color: rgb(146, 146, 235);
}