<!--
<body class="lists">
  <ul class="lists">
    <div class="row">
      <li *ngFor="let list of lists">
<form class="forma col-xs-6">
  <div class="col-xs-12 form-group">
    <label for="formGroupExampleInput">{{list.name}}</label>
    <input type="text" class="form-control" id="formGroupExampleInput"">
  </div>
  <br><br><br><br>
  <div class="col-xs-12 form-group">
    <label for="formGroupExampleInput2">List Content:</label>
    <textarea name="reviewText" rows="5" class="form-control"></textarea>  
    </li>
  </div>
</form>
</div>
<ul>
  -->


  <ul class="lists">
    <li *ngFor="let list of lists">
      <h1>{{list.name}}</h1>
        <br>
    </li>
  </ul>

  <h1>header</h1><h2>header2</h2>