<form class="lists forma col-xs-6" *ngFor="let list of lists">
  <div class="col-xs-12 form-group">
    <label for="formGroupExampleInput">List Name:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" value="{{list.name}}" disabled="disabled">
  </div>
  <br><br><br><br>
  <div class="col-xs-12 form-group">
    <label for="formGroupExampleInput2">List Content:</label>
    <textarea name="reviewText" rows="5" class="form-control" value="{{list.desc}}" disabled="disabled"></textarea>  
  </div>
  </form>